<nav
  class="navbar navbar-light bg-primary"
  style="border-bottom: 4px solid #0000; background-color: #efeeec !important"
>
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img
        src="/assets/logo.png"
        width="130"
        height="160"
        alt=""
        class="d-inline-block align-middle mr-2"
      />
      <span class="text-uppercase font-weight-bold mx-4">Cartão Consumo</span>
    </a>
  </div>
</nav>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Powered by:
    <a class="text-dark" href="https://www.zipsoftware.com.br/">ZiP Software</a>
  </div>
</footer>
